In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("statistic_id1303432_total-bilateral-aid-commitments-to-ukraine-2022-by-country-and-type.xlsx", sheet_name = "Data")

In [3]:
df.head(5)

           Country  Financial  Humanitarian  Military
0    United States      15.18          9.49     27.65
1  EU institutions      12.32          1.42      2.50
2   United Kingdom       2.55          0.37      3.74
3          Germany       1.15          0.95      1.20
4           Canada       1.81          0.30      0.93

In [4]:
df.to_csv("financialaid.csv", mode = 'w', index = False, header = True)