In [1]:
import pandas as pd

In [39]:
df = pd.read_excel("statistic_id1298031_dependence-on-russian-oil-in-the-eu-and-uk-2020-by-country.xlsx", sheet_name="Data")

In [40]:
df.head(5)

     Country  Oil_Import
0   Slovakia        78.4
1  Lithuania        68.8
2     Poland        67.5
3    Finland        66.8
4    Hungary        44.6

In [41]:
df1 = pd.read_excel("statistic_id1308770_impact-of-the-war-in-ukraine-on-poverty-in-the-eu-2022-by-country.xlsx", sheet_name="Data")

In [42]:
df1.head(5)

     Country  Poverty_Estimate
0   Slovakia               4.3
1    Estonia               3.7
2    Czechia               3.5
3  Lithuania               3.0
4     Latvia               2.9

In [43]:
merged_df = pd.merge(df,df1,how = 'outer')

In [44]:
merged_df.head()

     Country  Oil_Import  Poverty_Estimate
0   Slovakia        78.4               4.3
1  Lithuania        68.8               3.0
2     Poland        67.5               1.3
3    Finland        66.8               1.3
4    Hungary        44.6               0.2

In [45]:
df = pd.read_excel("statistic_id1311688_support-for-cutting-economic-ties-with-russia-2022-by-selected-country.xlsx", sheet_name="Data")

In [46]:
merged_df = pd.merge(df,merged_df,how = 'outer')

In [29]:
df = pd.read_excel("statistic_id1312584_number-of-ukrainian-refugees-2022-by-country.xlsx", sheet_name="Data")

In [30]:
merged_df = pd.merge(df,merged_df,how = 'outer')

In [31]:
df = pd.read_excel("statistic_id1312602_ukrainian-refugee-cost-2022-by-country.xlsx", sheet_name="Data")

In [32]:
merged_df = pd.merge(df,merged_df,how = 'outer')

In [33]:
df = pd.read_excel("statistic_id1321519_impact-of-the-war-in-ukraine-on-gdp-growth-worldwide-2022-by-country.xlsx", sheet_name="Data")

In [34]:
merged_df = pd.merge(df,merged_df,how = 'outer')

In [35]:
merged_df.head(5)

,Country,GDP_Impact,Cost_of_Refugees,No_of_Refugees,EconomicTieCut,Oil_Import,Poverty_Estimate
0,Slovakia,-2.72,0.29,100041.0,NaN,78.4,4.3
1,Germany,-2.19,2.99,1019789.0,NaN,29.7,0.4
2,Italy,-2.09,0.51,171546.0,NaN,12.5,1.3
3,Greece,-2.02,0.04,19997.0,NaN,26.3,2.5
4,France,-1.83,0.32,118994.0,NaN,13.3,0.7

In [36]:
merged_df.shape

(62, 7)

In [37]:
merged_df.to_csv("country.csv", mode='w', index=False, header=True)

In [39]:
df = pd.read_excel("statistic_id1298031_dependence-on-russian-oil-in-the-eu-and-uk-2020-by-country.xlsx", sheet_name="Data")

In [40]:
df1 = pd.read_excel("statistic_id1308770_impact-of-the-war-in-ukraine-on-poverty-in-the-eu-2022-by-country.xlsx", sheet_name="Data")

In [41]:
merged_df = pd.merge(df,df1,how = 'outer')

In [42]:
merged_df.to_csv("poverty.csv", mode='w', index=False, header=True)

In [43]:
df = pd.read_excel("statistic_id1311688_support-for-cutting-economic-ties-with-russia-2022-by-selected-country.xlsx", sheet_name="Data")

In [44]:
df1 = pd.read_excel("statistic_id1321519_impact-of-the-war-in-ukraine-on-gdp-growth-worldwide-2022-by-country.xlsx", sheet_name="Data")

In [45]:
merged_df = pd.merge(df,df1,how = 'outer')

In [46]:
merged_df.to_csv("economy.csv", mode='w', index=False, header=True)

In [47]:
df = pd.read_excel("statistic_id1312584_number-of-ukrainian-refugees-2022-by-country.xlsx", sheet_name="Data")

In [48]:
df1 = pd.read_excel("statistic_id1312602_ukrainian-refugee-cost-2022-by-country.xlsx", sheet_name="Data")

In [49]:
merged_df = pd.merge(df,df1,how = 'outer')

In [50]:
merged_df.to_csv("refugees.csv", mode='w', index=False, header=True)

In [51]:
df = pd.read_csv("country.csv")

In [52]:
df.head(5)

,Country,GDP_Impact,Cost_of_Refugees,No_of_Refugees,EconomicTieCut,Oil_Import,Poverty_Estimate
0,Slovakia,-2.72,0.29,100041.0,NaN,78.4,4.3
1,Germany,-2.19,2.99,1019789.0,NaN,29.7,0.4
2,Italy,-2.09,0.51,171546.0,NaN,12.5,1.3
3,Greece,-2.02,0.04,19997.0,NaN,26.3,2.5
4,France,-1.83,0.32,118994.0,NaN,13.3,0.7

In [53]:
df1 = df["Country"]

In [54]:
df1.head()

0    Slovakia
1     Germany
2       Italy
3      Greece
4      France
Name: Country, dtype: object

In [55]:
df1.to_csv("countries.csv", mode='w', index=False, header=True)

In [2]:
df = pd.read_csv("country.csv")

In [3]:
df.dtypes

cid                  object
Country              object
GDP_Impact          float64
Cost_of_Refugees    float64
No_of_Refugees      float64
EconomicTieCut      float64
Oil_Import          float64
Poverty_Estimate    float64
dtype: object

In [8]:
df['cid'] = df['cid'].astype(str)
df['Country'] = df['Country'].astype(str)

In [6]:
df.to_csv("country.csv", mode='w', index=False, header=True)

In [9]:
df.dtypes

cid                  object
Country              object
GDP_Impact          float64
Cost_of_Refugees    float64
No_of_Refugees      float64
EconomicTieCut      float64
Oil_Import          float64
Poverty_Estimate    float64
dtype: object

In [7]:
df = pd.read_csv("country.csv")

In [8]:
df = df.fillna(0)

In [9]:
df.head(5)

,cid,Country,GDP_Impact,Cost_of_Refugees,No_of_Refugees,EconomicTieCut,Oil_Import,Poverty_Estimate
0,C1,Slovakia,-2.72,0.29,100041.0,0.0,78.4,4.3
1,C2,Germany,-2.19,2.99,1019789.0,0.0,29.7,0.4
2,C3,Italy,-2.09,0.51,171546.0,0.0,12.5,1.3
3,C4,Greece,-2.02,0.04,19997.0,0.0,26.3,2.5
4,C5,France,-1.83,0.32,118994.0,0.0,13.3,0.7

In [10]:
df = df.drop(['cid'], axis = 1)

In [11]:
df.head(5)

,Country,GDP_Impact,Cost_of_Refugees,No_of_Refugees,EconomicTieCut,Oil_Import,Poverty_Estimate
0,Slovakia,-2.72,0.29,100041.0,0.0,78.4,4.3
1,Germany,-2.19,2.99,1019789.0,0.0,29.7,0.4
2,Italy,-2.09,0.51,171546.0,0.0,12.5,1.3
3,Greece,-2.02,0.04,19997.0,0.0,26.3,2.5
4,France,-1.83,0.32,118994.0,0.0,13.3,0.7

In [12]:
df.to_csv("country.csv", mode='w', index=False, header=True)