In [2]:
import pandas as pd

In [2]:
df = pd.read_excel("statistic_id810561_ratio-of-military-expenditure-to-gross-domestic-product--gdp--in-russia-2020.xlsx", sheet_name="Data")

In [3]:
df.head(5)

   Year  Ratio_Russia
0  2010          3.59
1  2011          3.43
2  2012          3.69
3  2013          3.85
4  2014          4.11

In [4]:
df1 = pd.read_excel("statistic_id810835_ratio-of-military-expenditure-to-gross-domestic-product--gdp--in-ukraine-2020.xlsx", sheet_name="Data")

In [5]:
df1.head(5)

   Year  Ratio_Ukraine
0  2010           1.90
1  2011           1.53
2  2012           1.61
3  2013           1.58
4  2014           2.25

In [6]:
merged_df = pd.merge(df,df1,how = 'outer')

In [7]:
merged_df.head(5)

   Year  Ratio_Russia  Ratio_Ukraine
0  2010          3.59           1.90
1  2011          3.43           1.53
2  2012          3.69           1.61
3  2013          3.85           1.58
4  2014          4.11           2.25

In [8]:
df = pd.read_excel("statistic_id1203160_military-expenditure-in-russia-1993-2021.xlsx", sheet_name="Data")

In [9]:
merged_df = pd.merge(df,merged_df,how = 'outer')

In [10]:
df = pd.read_excel("statistic_id1293277_military-spending-in-ukraine-2000-2021.xlsx", sheet_name="Data")

In [11]:
merged_df = pd.merge(df,merged_df,how = 'outer')

In [12]:
merged_df.head(5)

   Year  Spending_Ukraine  Spending_Russia  Ratio_Russia  Ratio_Ukraine
0  2000              0.70             9.23           NaN            NaN
1  2001              0.74            11.68           NaN            NaN
2  2002              0.87            13.94           NaN            NaN
3  2003              1.10            16.97           NaN            NaN
4  2004              1.32            20.96           NaN            NaN

In [13]:
merged_df.shape

(29, 5)

In [14]:
merged_df.to_csv("year.csv", mode='w', index=False, header=True)

In [2]:
df = pd.read_excel("statistic_id810561_ratio-of-military-expenditure-to-gross-domestic-product--gdp--in-russia-2020.xlsx", sheet_name="Data")

In [3]:
df1 = pd.read_excel("statistic_id810835_ratio-of-military-expenditure-to-gross-domestic-product--gdp--in-ukraine-2020.xlsx", sheet_name="Data")

In [4]:
merged_df = pd.merge(df,df1,how = 'outer')

In [5]:
merged_df.to_csv("ratio.csv", mode='w', index=False, header=True)

In [6]:
df = pd.read_excel("statistic_id1203160_military-expenditure-in-russia-1993-2021.xlsx", sheet_name="Data")

In [7]:
df1 = pd.read_excel("statistic_id1293277_military-spending-in-ukraine-2000-2021.xlsx", sheet_name="Data")

In [8]:
merged_df = pd.merge(df,df1,how = 'outer')

In [9]:
merged_df.to_csv("spending.csv", mode='w', index=False, header=True)

In [10]:
df = pd.read_csv("year.csv")

In [11]:
df.head(5)

   Year  Spending_Ukraine  Spending_Russia  Ratio_Russia  Ratio_Ukraine
0  2000              0.70             9.23           NaN            NaN
1  2001              0.74            11.68           NaN            NaN
2  2002              0.87            13.94           NaN            NaN
3  2003              1.10            16.97           NaN            NaN
4  2004              1.32            20.96           NaN            NaN

In [12]:
df1 = df["Year"]

In [13]:
df1.to_csv("years.csv", mode='w', index=False, header=True)

In [3]:
df = pd.read_csv("year.csv")

In [4]:
df = df.fillna(0)

In [5]:
df.head(5)

       Year  Spending_Ukraine  Spending_Russia  Ratio_Russia  Ratio_Ukraine
0  1/1/2000              0.70             9.23           0.0            0.0
1  1/1/2001              0.74            11.68           0.0            0.0
2  1/1/2002              0.87            13.94           0.0            0.0
3  1/1/2003              1.10            16.97           0.0            0.0
4  1/1/2004              1.32            20.96           0.0            0.0

In [7]:
df.to_csv("year.csv", mode='w', index=False, header=True)