In [1]:
import pandas as pd

In [9]:
df = pd.read_excel("statistic_id1007549_public-opinion-toward-ukraine-in-russia-1998-2022.xlsx", sheet_name = "Data")

In [10]:
df.head(5)

      Month  Positive  Negative  Difficult to say
0  Dec 1998        79        14                 7
1  Dec 1999        78        15                 8
2  Jul 2000        71        23                 6
3  Dec 2001        71        23                 7
4  Oct 2002        64        27                 9

In [11]:
df.columns

Index(['Month', 'Positive', 'Negative', 'Difficult to say'], dtype='object')

In [12]:
df.dtypes

Month               object
Positive             int64
Negative             int64
Difficult to say     int64
dtype: object

In [13]:
df.to_csv("russiapublicopinion.csv", mode = 'w', index = False, header = True)

In [2]:
df = pd.read_csv("russiapublicopinion.csv")

In [3]:
df.head(5)

  rid       Date  Positive  Negative  Difficult_to_say
0  R1  12/1/1998        79        14                 7
1  R2  12/1/1999        78        15                 8
2  R3   7/1/2000        71        23                 6
3  R4  12/1/2022        71        23                 7
4  R5  10/2/2022        64        27                 9

In [4]:
df = df.drop(['rid'], axis = 1)

In [5]:
df.to_csv("russiapublicopinion.csv", mode = 'w', index = False, header = True)